
.images {
    background: #1d0624;
    column-count: 4;
    column-gap: 10px;
    max-width: 100%;
    margin: auto;
    padding: 25px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .25);
}

.images img{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    box-sizing: border-box;
}
